*{ margin:0; vertical-align:baseline; list-style:none; border:0; text-decoration: none;}

html{
    scroll-behavior: smooth;
}

:target{
    scroll-margin-top: 15vh;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #121212;
    font-size: 20px;
}

header{
    display: flex;
    align-items: center;
    position: fixed;
    gap: 45%;
    top: 0;
    width: 100%;
    height: 10vh;
    border-bottom: 2px #272727 solid;
    background: #121212;
}

header span{
    width: 5%;
    margin-left: 5%;
    font-size: 1.5rem;
    color: cyan;
    font-weight:bold;
}

nav{
    height: 100%;
}

a{
    color: inherit;
}

section{
    height: 100vh;
    width: 100%;
}

h1{
    font-size: 3rem;
    margin-bottom: 4%;
    color: #69d2e0;
}



h1::after{
    content:'|';
    animation: pisca .7s infinite;
}

#menu{
    display: flex;
    width: 90%;
    height: 100%;
    margin-right: 10%;
    font-size: 1rem;
    color: white;
}

#menu li{
    padding: 0 5%;
    display: flex;
    align-items: center;
    height:100%;
    transition: 1s;
}

#menu li:hover{
    background: #69d2e0;
}

#menu li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

#home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

#apres{
    width: 40%;
}

#apres p{
    text-align: justify;
    font-size: 1.2rem;
    color: white;
    margin-bottom: 5%;
}

#apres a div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
    width: 30%;
    height: 50px;
    border: 2px solid #0aa8e6;
    color: #0aa8e6;
    font-size: 1.1rem;
    border-radius: 10px;
    transition: 0.4s;
}

#apres a div:hover{
    text-shadow: 0 0 5px #0aa8e6, 0 0 30px #0aa8e6, 0 0 50px #0aa8e6;
    box-shadow: 0 0 5px #0aa8e6, 0 0 30px #0aa8e6, 0 0 50px #0aa8e6;
}

#inti b{
        color: #69d2e0;
}


#inti div{
    height: 70%;
    width: 100%;
    display: flex;
    gap: 20%;
    align-items: center;
    justify-content: center;
}

#inti div article{
    width: 30%;
}

#inti div article p{
    margin: 4% 0;
    color: white;
    text-align: justify;
}

#inti h2{
    font-size: 2.7rem;
    margin-bottom: 4%;
    color: #69d2e0;
    margin-left: 4%;
}

#prof div, #pess div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10%;
}

#prof div p, #pess div p{
    text-align: justify;
    width: 30%;
    color: white;
}

#prof h2, #proj h2, #pess h2{
    font-size: 2.7rem;
    color: #69d2e0;
    margin-left: 4%;
}

#prof b{
    color: #69d2e0;
}

#proj{
    height: 150vh;
}

#proj .grupo{
    margin-top: 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20%;
}

#proj div div{
    padding: 3%;
    border-radius: 30px;
    border:  2px #272727 solid;
    color: #69d2e0;
    display: flex;
    gap: 10px;
    height: 20%;
    align-items: center;
    width: 30%;
    flex-direction: column;
    margin-bottom: 4%;
}

#proj a{
    transition: 0.5s;
}

#proj a:hover{
    font-size: 1.5rem;
}

#pess div{
    margin-top: 5%;
}

@keyframes pisca{
    0%,100%{
        opacity: 1;
    }

    50%{
        opacity: 0;
    }
}

/*Mediaquery*/

@media only screen and (min-width:1800px) and (max-width:1950px){
    header{
        gap:40%;
    }
    #menu{
        font-size: 1.4rem;
    }

    header span{
        font-size: 2rem;
    }

    #apres p{
        font-size: 1.5rem;
    }

    #apres a div{
        width: 40%;
        height: 80px;
        font-size: 1.5rem;
    }

    h1{
        font-size: 3.6rem;
    }

    #prof h2, #proj h2, #pess h2{
        font-size: 3.4rem;
    }

    #inti div article{
        font-size: 1.5rem;
    }
    
    #prof div p, #pess div p{
        font-size: 1.5rem;
    }

    #proj div{
        font-size: 1.5rem;
    }

    #proj a:hover{
        font-size: 1.7rem;
    }
}